<div class="container edit">
  <div class="form-info">
    <div class="form-info-top">
      <span class="d-inline-block w-50 me-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <label class="fw-bolder form-label" for="formTitle">Form Title</label>
          <input value="{{form?.title}}" class="form-control w-50" id="formTitle" type="text">
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <label class="fw-bolder form-label" for="formName">Form Name</label>
          <input value="{{form?.name}}" class="form-control w-50" id="formName" type="text">
        </div>
      </span>
      <span class="d-inline-block">
        <label class="fw-bolder form-label" for="tags">Tags</label>
        <input value="{{form?.tags}}" class="form-control" id="tags" type="text" placeholder="Add a tag">
      </span>
    </div>
    <div class="form-info-bottom">
      <span class="path w-50 me-3">
        <label class="fw-bolder form-label" for="path">Path</label>
        <input value="{{form?.path}}" class="form-control" id="path" type="text">
      </span>
      <span class="displayAs w-50">
        <label class="fw-bolder form-label" for="displayAs">Display As</label>
        <select class="form-select" id="displayAs">
          <option value="form">Form</option>
          <option value="wizard">Wizard</option>
        </select>
      </span>
    </div>
  </div>
  <formio-builder [form]="form"></formio-builder>
  <div class="d-flex justify-content-end">
    <button (click)="saveForm()" class="btn btn-primary">Save {{ form?.type }}</button>
  </div>
</div>
