<div class="container-fluid p-3">
  <div class="d-flex justify-content-between align-content-center">
    <div class="export-buttons">
      <button class="btn btn-primary btn-sm">Export JSON <i class="bi bi-download"></i></button>
      <button class="btn btn-primary btn-sm mx-3">Export CSV <i class="bi bi-download"></i></button>
      <button class="btn btn-primary btn-sm">Print To PDF</button>
    </div>
    <p>To flag which fields appear in the table below, click <b>Edit Form</b> above, view the <b>Settings</b> for any
      one field, then toggle the <b>Table View</b> checkbox.</p>
  </div>
  <formio-grid [src]="formUrl" (rowSelect)="handleSubmissionClick($event)"></formio-grid>
  @if (src) {
    <div class="panel">
      <div class="panel-header px-4">
        <button class="btn btn-sm btn-danger" (click)="deleteSubmission()">Delete Submission</button>
      </div>
      <div class="panel-body p-3">
        <ng-container *ngComponentOutlet="FormioComponent; inputs: {src, submission}"></ng-container>
      </div>
    </div>
  }
</div>
