<ng-template #resources>
  <div class="panel panel-resources w-100 me-3">
    <div class="panel-header">
      <div class="panel-top">
        <div class="d-flex justify-content-between">
            <span class="panel-title"><img src="icon-resource.svg" alt="icon" width="15px">Resources <i
              class="bi bi-question-circle-fill"></i></span>
          <button [routerLink]="['newresource']" class="btn btn-primary mt-2 mx-3 mb-5">+ New Resource</button>
        </div>
        <div class="panel-bottom">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <formio-grid [isActionAllowed]="isActionAllowed" (rowSelect)="navigateToViewPage($event)"
                   src="http://localhost:3001" gridType="form"
                   [query]="{type: 'resource'}"></formio-grid>
    </div>
  </div>
</ng-template>
<ng-template #forms>
  <div class="panel panel-forms w-100">
    <div class="panel-header">
      <div class="panel-top">
        <div class="d-flex justify-content-between">
            <span class="panel-title"><img src="icon-resource.svg" alt="icon" width="15px">Forms <i
              class="bi bi-question-circle-fill"></i></span>
          <button [routerLink]="['newform']" class="btn btn-success mt-2 mx-3 mb-5">+ New Form</button>
        </div>
        <div class="panel-bottom"></div>
      </div>
    </div>
    <div class="panel-body">
      <formio-grid [isActionAllowed]="isActionAllowed" (rowSelect)="navigateToViewPage($event)"
                   src="http://localhost:3001" gridType="form"
                   [query]="{type: 'form'}"></formio-grid>
    </div>
  </div>
</ng-template>
<div class="min-vh-100 d-flex flex-column">
  <app-info-panel></app-info-panel>
  @if (!service.authenticated) {
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <div class="h-75 p-5 login-container d-flex flex-column justify-content-around">
        <div class="text-center">
          <img height="25px" src="logo-formio-horizontal-lightbg.svg" alt="">
          <h6 class="mt-2">Open Source Developer Portal</h6>
        </div>
        <app-user-login></app-user-login>
        <p><b>Admin / First Time Login</b>: Use the account that was created during installation.</p>
        <p>Additional accounts are created by logging in with the admin account and adding an entry to the <b>Admin</b>
          resource.</p>
        <div>
          <a href="https://help.form.io/" class="d-block">Form.io Help Documentation</a>
          <a href="https://help.form.io/developers/javascript-development/javascript-sdk">Form.io SDK / Renderer
            Documentation</a>
        </div>
      </div>
    </div>
  } @else {
    <div class="container-fluid content">
      <div class="row gx-3 justify-content-center mt-4">
        @if (!router.url.includes('newform') && !router.url.includes('newresource')){
          <div class="col-auto flex-grow-{{router.url.includes('/form') || router.url.includes('/resource') ? 0 : 1}}">
            <div class="{{router.url.includes('/form') || router.url.includes('/resource') ? 'd-lg-block d-none' : 'd-md-flex justify-content-around'}}">
              <ng-container *ngIf="router.url === '/' || router.url.includes('/resource')">
                <ng-container *ngTemplateOutlet="resources"></ng-container>
              </ng-container>
              <ng-container *ngIf="router.url === '/' || router.url.includes('/form')">
                <ng-container *ngTemplateOutlet="forms"></ng-container>
              </ng-container>
            </div>
          </div>
        }
        <div class="col-auto flex-grow-{{router.url.includes('form') || router.url.includes('resource') ? 1 : 0}}">
          <router-outlet></router-outlet>
        </div>
        @if (infoPanelService.open){
          <div class="col" [innerHTML]="this.infoPanelHTMLContent"></div>
        }
      </div>
    </div>
  }
</div>
