:host {
  min-height: 100vh;
}

.login-container {
  border: 2px solid rgba(0, 0, 0, 0.176);
  border-radius: 2%;
  width: 500px;
}

.panel-header {
  border-color: rgb(222, 226, 230);
  border-style: solid;
  border-width: 2px;
}

.panel-resources .panel-header {
  background-color: rgb(239, 248, 255);
  border-bottom-color: rgb(170, 211, 244);
  border-bottom-style: solid;
}

.panel-forms .panel-header {
  background-color: rgb(240, 250, 235);
  border-bottom-color: rgb(168, 217, 141);
  border-bottom-style: solid;
}

.panel-title{
  display: flex;
  align-items: center;
  padding: 0.5em 1em 3em;
}

.panel-top{
  height: 50px;
}

.panel-bottom{
  height: 30px;
  margin-bottom: -2px;
}

.panel-resources .panel-title {
  color: rgb(35, 104, 162);
  font-weight: bolder;
}

.panel-forms .panel-title {
  color: rgb(57, 119, 24);
  font-weight: bolder;
}
