<button class="show-more"><i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i><span
  class="show-more-text more">More</span><span class="show-more-text less">Less</span></button>
<div class="context-data default active">
  <div class="context-header"><h2 class="strong">Open Source vs Enterprise</h2></div>
  <div class="context-expand"><p>This is the Open Source Developer Platform, which includes the Form &amp; API
    platform. Some features are only available on the enterprise platform. If you are looking for the Enterprise
    Platform setup and you have a license key, <a target="_blank" href="https://form.io/contact" rel="noreferrer">contact
      us</a>.</p>
    <p>If you want to go to market as fast as possible to offload the time and cost of installing, configuring,
      wiring, and maintaining the platform as well as gain access to the enterprise features, <a target="_blank"
                                                                                                 href="https://form.io/contact"
                                                                                                 rel="noreferrer">contact
        us</a> to get a license key.</p>
    <p class="enterprise mclear">This icon incidates a feature only available in our <span class="strong underline">enterprise</span>
      offerings.</p>
    <div class="section">
      <ul>
        <li class="enterprise"><span class="strong">Projects</span> are segmented sandboxes that house a set of forms
          and resources. By leveraging projects, you can assign teams to different projects to limit their access
          based on what's relevant to team members.
        </li>
        <li class="enterprise"><span class="strong">CORS Configuration:</span> Built-in user-interface to configure
          your CORS settings globally.
        </li>
        <li class="enterprise"><span class="strong">Reprting UI:</span> Sort, filter, and visualize your data.</li>
        <li class="enterprise"><span class="strong">PDF &amp; PDF+ Servers:</span> Allow users to submit via a PDF
          document and receive a PDF of their submission data.
        </li>
        <li class="enterprise">Standalone, embeddable <span class="strong">Form Manager</span> application that allows
          non-developers to build drag and drop forms and limits access to sensitive configurations.
        </li>
      </ul>
    </div>
    <div class="cta-license"></div>
  </div>
</div>
