.action-panel {
  border-style: solid;
  border-color: #e1e7ec;
  border-width: 1px;
}

.action-panel-header {
  border-style: solid;
  border-color: #e1e7ec;
  border-width: 1px;
  padding: 1em;
}

.action-panel-body {
  padding: 1em;
}

.x-icon {
  cursor: pointer;
}
