<div class="panel panel-{{formType}}s">
  <div class="panel-header">
    <div class="panel-top">
      <div class="panel-title">{{ form?.title }}</div>
    </div>
    <div class="panel-bottom">
      <div class="tabs">
        <button routerLinkActive="tab-selected" class="tab" routerLink="edit">Edit {{ _.capitalize(formType) }}</button>
        <button routerLinkActive="tab-selected" class="tab" routerLink="use">Enter Data</button>
        <button routerLinkActive="tab-selected" class="tab" routerLink="view">View Data</button>
        <button routerLinkActive="tab-selected" class="tab" routerLink="actions">{{ _.capitalize(formType) }} Actions</button>
        <button routerLinkActive="tab-selected" class="tab" routerLink="access">Access</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    @if (formioServiceWrapper.form) {
      <router-outlet></router-outlet>
    } @else {
      <div>Loading</div>
    }
  </div>
</div>
