.tabs {
  margin-bottom: -2px;
  margin-left: 1em;
}

.tab {
  border: none;
  background: none;
  outline: inherit;
  font: inherit;
}

.tab-selected {
  border-top-color: #a8d98d;
  border-left-color: #a8d98d;
  border-right-color: #a8d98d;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: white;
  background: white;
}

.panel-forms .tab-selected {
  border-top-color: #a8d98d;
  border-left-color: #a8d98d;
  border-right-color: #a8d98d;
}

.panel-resources .tab-selected {
border-top-color: rgb(170, 211, 244);
  border-left-color: rgb(170, 211, 244);
  border-right-color: rgb(170, 211, 244);
}

.panel-body {
  max-height: 700px;
  overflow-y: auto;
  border-color: rgb(222, 226, 230);
  border-style: none solid solid;
  border-width: 2px;
  padding-top: 1em;
  padding-bottom: 1em;
}
