<div class="panel panel-{{formType}}s">
  <div class="panel-header">
    <div class="panel-top">
      <div class="panel-title">{{ form?.title }}</div>
    </div>
    <div class="panel-bottom">
      <div class="tabs">
        <button class="tab tab-selected" routerLink="edit">Edit {{ formType }}</button>
        <button class="tab" routerLink="use">Enter Data</button>
        <button class="tab" routerLink="view">View Data</button>
        <button class="tab" routerLink="actions">{{ formType }} Actions</button>
        <button class="tab" routerLink="access">Access</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    @if (formioServiceWrapper.form) {
      <router-outlet></router-outlet>
    } @else {
      <div>Loading</div>
    }
  </div>
</div>
