<div class="panel panel-{{formType}}s">
  <div class="panel-header">
    <div class="panel-top">
      <div class="panel-title">{{ formTitle }}</div>
    </div>
    <div class="panel-bottom">
      <div class="tabs">
        <button class="tab tab-selected">Edit {{ formType }}</button>
        <button class="tab">Enter Data</button>
        <button
          class="tab">View Data
        </button>
        <button class="tab">{{ formType }}
          Actions
        </button>
        <button class="tab">Access</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    @if (form){
      <app-edit-tab [form]="form"></app-edit-tab>
    } @else {
      <div>Loading</div>
    }
  </div>
</div>
